@using X.PagedList.Mvc.Core
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model X.PagedList.IPagedList<Northwind.Application.Employees.Shared.Models.Employee>

<h1>Employees</h1>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
<a role="button" asp-action="New">New</a>

<table class="table">
  <thead>
  <tr>
    <th>
      Id
    </th>
    <th>
      First Name
    </th>
    <th>
      Last Name
    </th>
  </tr>
  </thead>
  <tbody>
  
  @foreach (var item in Model.AsEnumerable())
  {
    <tr>
      <td>
        <a asp-action="Show" asp-route-id="@item.Id">@item.Id</a> 
      </td>
      <td>
        @item.FirstName
      </td>
      <td>
        @item.LastName
      </td>
    </tr>
  }
  </tbody>
</table>
